<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <!-- <my-button a="12345" @click="change" @mouseup="change"></my-button> -->
        <accordion>
            <!-- v-slot # -->
            <accordion-item title="react">content one</accordion-item>
            <accordion-item title="vue">content two</accordion-item>
            <accordion-item title="node">content three</accordion-item>
            <hr/>
            <accordion-item title="react">content one</accordion-item>
            <accordion-item title="vue">content two</accordion-item>
            <accordion-item title="node">content three</accordion-item>
            <hr/>
            <accordion-item title="react">content one</accordion-item>
            <accordion-item title="vue">content two</accordion-item>
            <accordion-item title="node">content three</accordion-item>
        </accordion>
    </div>
    <script src="./node_modules/vue/dist/vue.js"></script>
    <script>
        Vue.component('Accordion', {
            methods:{
                cut (childId) { // 获取当前点击的子组件
                    console.log(this.$children)
                    this.$children.forEach(child => {
                        if (child._uid !== childId) {
                            child.show = false
                        }
                    })
                }
            },
            template: `<div class="wrap">
                <slot></slot>
            </div>`
        })
        Vue.component('AccordionItem', {
            props:['title'],
            data () {
                return {
                    show: false
                }
            },
            methods:{
                change () {
                    this.$parent.cut(this._uid)
                    this.show = !this.show
                }
            },
            template: `<div>
                <div class="title" @click="change">{{title}}</div>
                <div v-show="show">
                    <slot></slot>
                </div>
            </div>`
        })
        let vm = new Vue({
            el:'#app',
            data: {
                info:{},
                arr:[1,2,4]
            },
            methods:{
                change () {
                    alert('change')
                }
            },
            components:{
                'my-button':{ // $listeners 监听组件用v-on绑定
                    props:{
                        a:{}
                    },
                    mounted () {
                        // console.log()
                    },
                    template:`<button v-on="$listeners">{{a}}</button>`
                }
            }
        })
    </script>
</body>
</html>