<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <template v-for="i in 5">
            <div ref="my">my element</div>
        </template>
        <my-component ref="con"></my-component>
    </div>
    <script src="./node_modules/vue/dist/vue.js"></script>
    <script>
        let vm = new Vue({
            el:'#app',
            data: {
                info:{},
                arr:[1,2,4]
            },
            mounted(){
                console.log(this.$refs.my)
                console.log(this.$refs.con)
            },
            components:{
                'MyComponent':{
                    template: `<div>my-component</div>`
                }
            }
        })
    </script>
</body>
</html>